/* Link to google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap");

/* Set Globally */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  color: white;
}

body {
  width: 75%;
  background-color: brown;
}

header {
  display: inline;
  margin: 2.5% 0 2.5% 0;
  height: 50px;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h4 {
  text-align: center;
  margin-left: 3%;
}

h1,
h2,
h3 {
  padding: 10px 10px;
}

h5 {
  padding-bottom: 5px;
}

p {
  width: 98%;
}

article {
  position: relative;
  display: inline;
  border-style: solid;
  background-color: black;
  border-radius: 5px;
  border-width: 5px;
  margin: 1% 1%;
}

.section-box {
  margin-top: 100px;
}

/* Float article left for dashboard */
.box-left {
  float: left;
}

/* Float article right for dashboard */
.box-right {
  float: right;
}

/* Article box for dashboard */
.box-half {
  display: inline-block;
  width: 49%;
  height: 275px;
  margin: 10px 0 5px 0;
  overflow: auto;
}

.box-half p {
  text-align: center;
}

.box-full {
  display: inline-block;
  width: 100%;
  height: 80px;
  background-color: brown;
  border: brown;
  margin: 2% 2%;
}

input[type="text"] {
  border: 2px solid white;
  border-radius: 4px;
  width: 50%;
  height: 30px;
  margin-left: 25%;
  text-align: center;
  font-size: large;
  background-color: black;
}

/* Text sizing for dashboard */
#dice-one,
#dice-two {
  text-align: center;
  font-size: 7.5rem;
}

#total-score {
  text-align: center;
  font-size: 4rem;
}

/* Alien Images */
#image-alien-512,
#image-alien-hungry {
  height: 25%;
  width: 25%;
  padding-top: 2.5%;
  z-index: 100;
}

/* Styling Buttons */
.my-button {
  position: relative;
  width: 50%;
  height: 50px;
  background-color: black;
  border-color: white;
  border-radius: 5px;
  border-width: 5px;
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  left: 25%;
  margin: 10px 0 10px 0;
}

.my-button-hide,
.bonus-hide {
  display: none;
}

.question-quiz {
  padding: 1% 1%;
}

.answers-quiz {
  padding: 1% 1%;
}

input[type="radio"] {
  background-color: #fff;
  margin-left: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

button {
  display: inline-block;
  color: brown;
}

ul {
  margin: 10px 0 10px 30px;
}

li {
  list-style-image: url(../images/favicon_io/favicon-16x16.png);
}

footer {
  display: inline;
  text-align: center;
  margin: 2.5% 2.5%;
}

/* Animation For Bonus Points */
#bonus-points {
  position: absolute;
  bottom: 0%;
  left: 17.5%;
  font-size: 2.5rem;
  text-align: center;
  color: black;
  font-weight: 900;
  z-index: 500;
  animation: pulse 1s infinite;
  animation-iteration-count: 3;
}

@keyframes pulse {
  0% {
    color: black;
  }
  100% {
    color: red;
  }
}


/**************************************/
/* Media Queries for smaller screens */
@media screen and (max-width: 800px) {
  body {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  #bonus-points {
    font-size: 1.5rem;
    left: 5%;
  }

  .box-half {
    display: inline;
    width: 49%;
    height: 250px;
    display: inline-block;
    margin: 5px 0 5px 0;
  }

  /* Styling Buttons */
  .my-button {
    position: relative;
    width: 60%;
    height: 50px;
    background-color: black;
    border-color: white;
    border-radius: 5px;
    border-width: 5px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    left: 20%;
    margin: 10px 0 10px 0;
  }

  #dice-one,
  #dice-two {
    text-align: center;
    font-size: 5rem;
  }

  #total-score {
    text-align: center;
    font-size: 2.25rem;
  }

  article h2 {
    font-size: 1rem;
  }

  /* Alien Images */
  #image-alien-512,
  #image-alien-hungry {
    height: 50%;
    width: 50%;
    padding-top: 2.5%;
    z-index: 100;
  }
}